{{template "header" . }}

<main class="container-fluid w-100 login_page" role="main">
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 py-5">
                        <!-- <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div> -->
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="/static/assets/images/go_go.jpg" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">


                        <div class="u-login-form ">
                            <form class="mb-4" action="/">
                                <div class="mb-3 ">
                                    <h1>SignUp</h1>

                                </div>
                                <div class="form-group mb-4">
                                    <label for="username">Username</label>
                                    <input id="username" class="form-control" name="username" type="username" placeholder="">
                                </div>

                                <div class="form-group mb-4">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-control" name="email" type="text" placeholder="">
                                </div>

                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <input id="password" class="form-control" name="password" type="password" placeholder="">
                                </div>

                                <div class="form-group mb-4">
                                    <label for="confirmpassword">Comfirm Password</label>
                                    <input id="confirmpassword" class="form-control" name="confirmpassword" type="password" placeholder="">
                                </div>
                                <div class="form-group d-flex justify-content-between align-items-center mb-4">
                                    <div class="custom-control custom-checkbox">
                                        <input id="chkAgree" name="chkAgree" class="custom-control-input" type="checkbox">
                                        <label class="custom-control-label" for="chkAgree">I agree with <a href="#">terms &amp; conditions</a></label>
                                    </div>
                                </div>

                                <div class="row mb-3 px-3">
                                    <button type="button" class="btn btn-primary btn-block" onclick="register('username','email', 'pasword', 'confirmpassword');" id="btnLogin">Register</button>
                                </div>

                                <div class="row mb-4 px-3"> <small class="font-weight-bold">Already have an account? <a class="text-danger " href="/login"  >Login here</a></small> </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="bg-black py-4">
                    <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
                        <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
                    </div>
                </div>
            </div>
        </div>

</main>
<script>
    const go = new Go();

    WebAssembly.instantiateStreaming(fetch("/static/assets/js/auth/main.wasm"), go.importObject).then((result) => {
        go.run(result.instance);
    });
</script>
{{template "footer" . }}